<div style="height:100%; width:100%; left:0; top:0; position:absolute; display:table;">
  <div style="display:table-row;">
    <ast-menu>
      <ast-menu-item text="New sale" (click)="openNewSale()"></ast-menu-item>
      <ast-menu-item text="Tables">
        <ast-popup-menu>
          <ast-popup-menu-item *ngFor="let table of tables" [text]="table" (click)="openListWindow(table)"></ast-popup-menu-item>
        </ast-popup-menu>
      </ast-menu-item>
      <ast-menu-item text="Views">
        <ast-popup-menu>
          <ast-popup-menu-item *ngFor="let table of views" [text]="table" (click)="openListWindow(table)"></ast-popup-menu-item>
        </ast-popup-menu>
      </ast-menu-item>
      <ast-menu-item text="About" (click)="openAbout()"></ast-menu-item>
    </ast-menu>
  </div>
  <div id="wndViewport" class="ast-logo-black" style="display:table-row;height:100%;background-color:#ddd;background-position-x: center;background-position-y: 45%;background-repeat: no-repeat;"  #container>
  </div>
</div>